[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "content"]
	path = content
	url = https://github.com/norombabajd/content.git
